<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4g2pWZ90Fmz14afzyJSrI34Huirm_AwU</string>
	<key>GCM_SENDER_ID</key>
	<string>899526855695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.Ralwert.pia12firebase</string>
	<key>PROJECT_ID</key>
	<string>pia12-8e606</string>
	<key>STORAGE_BUCKET</key>
	<string>pia12-8e606.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899526855695:ios:2d8e19ee241ef60b51e77a</string>
	<key>DATABASE_URL</key>
	<string>https://pia12-8e606-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>